[submodule "migration/Mooncake"]
	path = migration/Mooncake
	url = https://github.com/kvcache-ai/Mooncake.git
[submodule "migration/pybind11"]
	path = migration/pybind11
	url = https://github.com/pybind/pybind11.git
