model_path: /nvme/qa_test_models
dst_path: /nvme/qa_test_models/autotest_model
log_path: /nvme/qa_test_models/autotest_model/log
benchmark_path: /nvme/qa_test_models/benchmark-reports
dataset_path: /nvme/qa_test_models/datasets/ShareGPT_V3_unfiltered_cleaned_split.json

tp_config:
    internlm-chat-20b: 2
    internlm2-chat-20b: 2
    Baichuan2-13B-Chat: 2
    Mixtral-8x7B-Instruct-v0.1: 2
    Qwen-VL-Chat: 2
    llava-v1.5-13b: 2
    internlm2_5-20b-chat: 2
    Meta-Llama-3-1-70B-Instruct: 4
    internlm2_5-7b-chat-1m: 4
    Qwen2-7B-Instruct-GPTQ-Int4: 2
    InternVL2-40B: 2
    MiniCPM-V-2_6: 2

turbomind_chat_model:
    - meta-llama/Meta-Llama-3-1-8B-Instruct
    - meta-llama/Meta-Llama-3-1-8B-Instruct-AWQ
    - meta-llama/Meta-Llama-3-8B-Instruct
    - meta-llama/Meta-Llama-3-8B-Instruct-inner-4bits
    - internlm/internlm2_5-7b-chat
    - internlm/internlm2_5-20b-chat
    - internlm/internlm-xcomposer2d5-7b
    - OpenGVLab/InternVL2-2B
    - OpenGVLab/InternVL2-4B
    - OpenGVLab/InternVL2-8B
    - OpenGVLab/InternVL2-26B
    - OpenGVLab/InternVL2-40B
    - OpenGVLab/Mini-InternVL-Chat-2B-V1-5
    - Qwen/Qwen2-7B-Instruct
    - Qwen/Qwen2-7B-Instruct-AWQ
    - Qwen/Qwen2-1.5B-Instruct
    - Qwen/Qwen2.5-7B-Instruct
    - Qwen/Qwen2-7B-Instruct-GPTQ-Int4
    - mistralai/Mistral-7B-Instruct-v0.3
    - THUDM/glm-4-9b-chat

pytorch_chat_model:
    - meta-llama/Meta-Llama-3-8B-Instruct
    - meta-llama/Meta-Llama-3-1-8B-Instruct
    - internlm/internlm2_5-7b-chat
    - internlm/internlm2_5-20b-chat
    - OpenGVLab/InternVL2-2B
    - OpenGVLab/InternVL2-4B
    - OpenGVLab/InternVL2-8B
    - OpenGVLab/InternVL2-26B
    - OpenGVLab/InternVL2-40B
    - Qwen/Qwen2-7B-Instruct
    - Qwen/Qwen2-1.5B-Instruct
    - Qwen/Qwen1.5-MoE-A2.7B-Chat
    - Qwen/Qwen2-VL-2B-Instruct
    - Qwen/Qwen2-VL-7B-Instruct
    - mistralai/Mistral-7B-Instruct-v0.2
    - mistralai/Mixtral-8x7B-Instruct-v0.1
    - google/gemma-2-9b-it
    - deepseek-ai/DeepSeek-V2-Lite-Chat
    - THUDM/glm-4v-9b
    - THUDM/glm-4-9b-chat
    - microsoft/Phi-3-mini-4k-instruct
    - microsoft/Phi-3-vision-128k-instruct

turbomind_base_model:
    - internlm/internlm2_5-7b
    - internlm/internlm2_5-20b

pytorch_base_model:
    - internlm/internlm2_5-7b
    - internlm/internlm2_5-20b

vl_model:
    - OpenGVLab/InternVL2-2B
    - OpenGVLab/InternVL2-4B
    - OpenGVLab/InternVL2-8B
    - OpenGVLab/InternVL2-26B
    - OpenGVLab/InternVL2-40B
    - Qwen/Qwen2-VL-2B-Instruct
    - Qwen/Qwen2-VL-7B-Instruct
    - internlm/internlm-xcomposer2d5-7b
    - THUDM/glm-4v-9b
    - microsoft/Phi-3-vision-128k-instruct

turbomind_quatization:
    awq:
        - internlm/internlm-xcomposer2d5-7b
        - internlm/internlm2_5-7b-chat
        - internlm/internlm2_5-7b
        - internlm/internlm2_5-20b
        - OpenGVLab/InternVL2-2B
        - OpenGVLab/InternVL2-4B
        - OpenGVLab/InternVL2-8B
        - OpenGVLab/InternVL2-26B
        - OpenGVLab/InternVL2-40B
        - Qwen/Qwen2-7B-Instruct
        - Qwen/Qwen2-1.5B-Instruct
        - Qwen/Qwen2.5-7B-Instruct
    gptq:
        - internlm/internlm2_5-7b-chat
    kvint:
        - meta-llama/Meta-Llama-3-1-8B-Instruct
        - meta-llama/Meta-Llama-3-8B-Instruct
        - internlm/internlm2_5-7b-chat
        - internlm/internlm2_5-20b-chat
        - internlm/internlm-xcomposer2d5-7b
        - Qwen/Qwen2-7B-Instruct
        - Qwen/Qwen2-7B-Instruct-AWQ
        - Qwen/Qwen2-1.5B-Instruct
        - Qwen/Qwen1.5-7B-Chat
        - Qwen/Qwen1.5-4B-Chat-AWQ
        - mistralai/Mistral-7B-Instruct-v0.2
        - mistralai/Mistral-7B-Instruct-v0.3
        - THUDM/glm-4-9b-chat

pytorch_quatization:
    awq:
    w8a8:
        - internlm/internlm2_5-7b-chat
        - internlm/internlm2_5-20b-chat
        - internlm/internlm2_5-20b
        - internlm/internlm2_5-7b

longtext_model:
    - meta-llama/Meta-Llama-3-1-8B-Instruct
    - meta-llama/Meta-Llama-3-8B-Instruct
    - meta-llama/Meta-Llama-3-1-70B-Instruct
    - internlm/internlm2_5-7b-chat-1m
    - internlm/internlm2-chat-20b

benchmark_model:
    - meta-llama/Llama-2-7b-chat-hf
    - meta-llama/Meta-Llama-3-1-8B-Instruct
    - meta-llama/Meta-Llama-3-8B-Instruct
    - meta-llama/Meta-Llama-3-1-70B-Instruct
    - internlm/internlm2_5-7b-chat
    - internlm/internlm2_5-20b-chat
    - THUDM/glm-4-9b-chat
    - Qwen/Qwen2-7B-Instruct
    - mistralai/Mistral-7B-Instruct-v0.3
    - mistralai/Mixtral-8x7B-Instruct-v0.1
    - deepseek-ai/DeepSeek-V2-Lite-Chat
