name: windows-x64-gpu
on:
  push:
    paths:
      - '.github/workflows/windows-x64-gpu.yml'
      - 'src/**'
      - 'CMakeLists.txt'
      - 'cmake/**'
      - 'examples/**'
      - '3rdparty/**'
      - 'tests/csrc/**'
  pull_request:
    paths:
      - '.github/workflows/windows-x64-gpu.yml'
      - 'src/**'
      - 'CMakeLists.txt'
      - 'cmake/**'
      - 'examples/**'
      - '3rdparty/**'
      - 'tests/csrc/**'
concurrency:
  group: windows-x64-gpu-${{ github.ref }}
  cancel-in-progress: true
permissions:
  contents: read

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        cudaver: [12.6.2, 12.8.1]
    name: cuda-${{ matrix.cudaver }}
    runs-on: windows-latest
    steps:
      - name: Set git for windows
        run: |
          git config --global core.longpaths true
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Set up python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install python packages
        run: |
          pip install build
      - name: Setup CUDA Toolkit
        id: cuda-toolkit
        shell: pwsh
        run: ./builder/windows/setup_cuda.ps1
        env:
            INPUT_CUDA_VERSION: ${{ matrix.cudaver }}
      - name: Build wheel
        run: |
          python -m build --wheel
